* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFAF5;
}

.container {
    padding-top: 10px;
    padding-left: 176px;
}

.logo {
    margin-top: 1.875rem;

}

.nav-menu {
    display: flex;
    border-bottom: 1px solid rgb(230, 230, 230);
    height: 5.5rem;
    width: 100%;
    background-color: #FFFAF5;
    position: fixed;
    top: 0;
}

.nav-ul .list {
    margin-top: 2.5rem;
    display: flex;
    margin-left: 14.375rem;
    gap: 1.02rem;
}

.list li {
    list-style-type: none;
}

#search-li {
    color: #E16A00;
}

.list a {
    text-decoration: none;
    font-family: Montserrat;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0em;
    text-align: left;
    color: black;
    text-transform: capitalize;
}

.client {
    margin-top: 1.875rem;
    margin-left: 12.5rem;
}

.client .joinus-logo {
    margin-right: 5px;
}


.main {
    margin-top: 200px;
    height: 600px;
    display: flex;

}

.left-side {
    flex: 1;
}
.left-side form{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    
}
.left-side #search-title {
    font-size: 45px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    color: #241400ca;
    margin-bottom: 50px;
}

#search-book,
#search-btn {
    width: 80%;
    font-size: 18px;
    height: 55px;
    border-radius: 8px;
    border-color: transparent;
}

#search-book {
    padding-left: 15px;
    font-size: 20px;
    border-color: #cecece;
}

#search-btn {
    text-align: center;
    background-color: #E16A00;
    color: white;
}

.right-side {
    flex: 1.5;
}

.right-side .carousel {
    background-color: white;
    width: 97%;
    height: 100%;
    border: 1px solid red;
}

.social-media {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 200px;

}

.social-media .txt {
    font-family: Montserrat, sans-serif;
    font-size: 23px;
    font-weight: 900;
    line-height: 49px;
    letter-spacing: 0em;
}

.links {
    display: flex;
    justify-content: center;
}

.links .link {
    margin: 30px;
}

.foot {
    margin-top: 0px;
    width: 100%;
    height: 18rem;
    background-color: #391F00;
    display: flex;
    justify-content: center;
}

.foot-logo {
    margin-top: 5rem;
    margin-right: 100px;
}

.foot .right {
    display: flex;
    column-gap: 100px;
}

.foot .right .one,
.foot .right .two,
.foot .right .three,
.foot .right .four {
    color: #FFF;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 196.187%;
    margin-top: 4rem;
}

#request {
    margin-top: 15px;
    color: #E16A00;
    border: 1px solid #E16A00;
    text-align: center;
}

#end-txt {
    text-align: center;
    color: white;
    background-color: #391F00;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 2px;
}