body {
    background-color: #FFFAF5;
}

.logo {
    margin-top: 1.875rem;
    margin-left: 11rem;
}

.main {
    display: flex;
    border-bottom: 1px solid rgb(230, 230, 230);
    height: 5.5rem;
    width: 100%;
    background-color: #FFFAF5;
    z-index: 100;

}

header {
    width: 100%;
    position: fixed;
    top: 0;
}

.panel {
    margin-top: 2.5rem;
    display: flex;
    margin-left: 14.375rem;
    gap: 1.25rem;
}

.panel p {
    font-family: Montserrat;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0em;
    text-align: left;
    cursor: pointer;

}

.client {
    margin-top: 1.875rem;
    margin-left: 12.5rem;

}

.main-1 {
    display: flex;
}

.main-book {
    width: 35rem;
    height: 25rem;
    flex-shrink: 0;
    margin-left: 14rem;
    margin-top: 5rem;
}

.main-1 .left {
    width: 20rem;
    height: 15rem;
    margin-left: 12rem;
    margin-top: 9rem;
}

.left .one {
    color: var(--, #241400);
    font-family: Montserrat;
    font-size: 2rem;
    font-style: normal;
    font-weight: 900;
    line-height: 196.187%;
}

.left .two {
    color: var(--, #241400);
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 196.187%;
}

.left button {
    background: var(--2, #E16A00);
    width: 10rem;
    height: 3rem;
    flex-shrink: 0;
    border: 0;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

.left button p {
    color: #FFF;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 900;
    line-height: 196.187%;
}

section {
    margin-top: 100px;
}


.foot {
    width: 100%;
    height: 18rem;
    background-color: #391F00;
    display: flex;
}

.foot-logo {
    margin-top: 5rem;
    margin-left: 12rem;
}

.foot .right {
    display: flex;
}

.foot .right .one,
.foot .right .two,
.foot .right .three {
    color: #FFF;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 196.187%;
    margin-top: 4rem;
}

.foot .right .one {
    margin-left: 15rem;
}

.foot .right .two {
    margin-left: 7rem;
}

.foot .right .three {
    margin-left: 7rem;
}

/*******************Contact us**********************/
.contactus {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
margin-top: 120px;

}
.contactheader {
    width: 85%;
    margin-bottom: 30px;
}

.contactheader p {
    color: var(--Gray-1, #333);
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: 196.187%;

}



.notesection {
    width: 97.5%;
    margin-left: 30px;
    height: 153px;
}

.ContactUsInputStandart {
    width: 611px;
    height: 55px;
    margin-left: 33px;
    margin-bottom: 33px;
    padding-left: 10px;
}

.contactusSendinfo {
    margin-top: 85px;
    width: 610px;
    height: 75px;
    background: #E16A00;
    color: #FFF;
    text-align: center;
    font-family: Crimson Text;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
}

.mediaIcons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.mediaIcons div p {
    color: var(--, #241400);

    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 900;
    line-height: 196.187%;
}
.followicons img{
   margin-right: 30px;
   margin-bottom: 50px;
}