/* * {
    background-color: #720418;
}

.login-logo-text {
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.library-txt {
    border-bottom: 2px solid white;
    padding-bottom: 6px;
    width: 202px;
}

.library-txt2 {
    color: #FFF;
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;

}

.logo-login {
    display: flex;
    align-items: center;
    gap: 14px;
}

#registration-form {

    width: 500px;
    height: 400px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

#registration-form h1 {
    margin-bottom: 20px;
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-color: white;
    width: 400px;
    height: 81px;
    margin-left: auto;
    margin-right: auto;
}

::placeholder {
    color: #797667;

    font-family: Crimson Text;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 20px;
  }

#registration-form input {
    width: 400px;
    height: 50px;
    border: 1px solid #CECECE;
    background: #FFF;
    margin-top: 14px;
    color: #797667;
    font-family: Crimson Text;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#registration-form button {
    border: 1px solid #CECECE;
    background: #E16A00;
    width: 410px;
    height: 50px;
    color: white;
    flex-shrink: 0;
    margin-top: 64.5px;
    

}.p-gizli{
    background-color: white;
    color: red;
    font-size: 20px;
    display: none;
} */
